<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.UserHealthMapper">

    <select id="getByName" resultType="com.wf.ew.system.model.UserHealth">
        select * from user_health where name=#{name}
    </select>
</mapper>