<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.UserHealthItemMapper">

    <select id="getByDiseaseNameAndUserHealthId" resultType="com.wf.ew.system.model.UserHealthItem">
        select * from user_health_item where disease_name=#{diseaseName} and user_health_id=#{userHealthId}
    </select>
</mapper>