
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">健康信息管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
          <a><cite>健康信息管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <select id="user-health-search-key">
                <option value="">-请选择-</option>
                <option value="name">姓名</option>
                <option value="idNumber">身份证号码</option>
            </select>&emsp;
            <input id="user-health-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="user-health-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
            </button>
            <button id="user-health-btn-add" class="layui-btn icon-btn" lay-tips=""><i
                    class="layui-icon">&#xe654;</i>添加
            </button>
        </div>

        <table class="layui-table" id="user-health-table" lay-filter="user-health-table"></table>
    </div>
</div>



<!-- 表格操作列 -->
<script type="text/html" id="user-health-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="health_edit">修改</a>
    <a class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="health_detail">详情</a>
</script>

<script>

    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;


        form.render('select');

        // 渲染表格
        table.render({
            elem: '#user-health-table',
            url: 'system/user_health/list',
            page: true,
            autoWidth: true,
            autoRow:true,
            cols: [[
                {type: 'numbers'},
                {field: 'name', sort: true, title: '姓名'},
                {field: 'sex', sort: true, title: '性别'},
                {field: 'birthDate', sort: true, title: '出生年月'},
                {field: 'physicalExaminationDate', sort: true, title: '体检日期'},
                {field: 'trainDate', sort: true, title: '培训日期'},
                {field: 'reportDate', sort: true, title: '报告日期'},
                {field: 'medicalInstitution', sort: true, title: '医疗机构'},
                {field: 'idNumber', sort: true, title: '身份证号码'},
                {field: 'cardNumber', sort: true, title: '证卡号码'},
                {field: 'type', sort: true, title: '类型'},
                {field: 'image', sort: true, title: '头像',templet: function(d){
                return '<img src="' + d.image + '" alt="头像"  >';
                }},
                { align: 'center', toolbar: '#user-health-table-bar', title: '操作'}
            ]],
        });

        // 添加按钮点击事件
        $('#user-health-btn-add').click(function () {
            showHealthModel();
        });

        // 工具条点击事件
        table.on('tool(user-health-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'health_edit') { // 修改
                showHealthModel(data);
            }

            if(layEvent === 'health_detail'){
               // 在这里执行页面跳转并传递参数的操作
               //layer.msg('查看详情，并传递参数：' + data.id);
               // 例如页面跳转
               sessionStorage.setItem('id', data.id);
               window.location.replace('#!system_user_health_item');
               window.location.reload();
            }
        });


        // 显示表单弹窗
        var showHealthModel = function (data) {
            var title = data ? '添加基本信息' : '修改基本信息';
            admin.putTempData('t_user_health', data);
            admin.popupCenter({
                title: title,
                path: 'system/user_health/editForm',
                finish: function () {
                    table.reload('user-health-table');
                }
            });
        };


        // 搜索按钮点击事件
        $('#user-health-btn-search').click(function () {
            var key = $('#user-health-search-key').val();
            var value = $('#user-health-search-value').val();
            table.reload('user-health-table', {where: {searchKey: key, searchValue: value}});
        });


    });
</script>