<!-- 疾病表单弹窗 -->
<form id="user-health-item-form" lay-filter="user-health-item-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">疾病名称</label>
        <div class="layui-input-block">
            <select name="diseaseName" xm-select="diseaseName"  xm-select-radio lay-verify="required">
                <% for(dis in diseaseNames) { %>
                <option value="${dis.code}">${dis.name}</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">合格/不合格</label>
        <div class="layui-input-block">
            <input type="radio" name="inspectionResults" value="合格" title="合格" checked/>
            <input type="radio" name="inspectionResults" value="不合格" title="不合格" checked/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是/否检查过</label>
        <div class="layui-input-block">
            <input type="radio" name="whetherToCheck" value="是" title="是" checked/>
            <input type="radio" name="whetherToCheck" value="否" title="否" checked/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">有/无此疾病</label>
        <div class="layui-input-block">
            <input type="radio" name="have" value="有" title="有" checked/>
            <input type="radio" name="have" value="无" title="无" checked/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input name="remark" placeholder="请输入备注" type="text" class="layui-input"
                   required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">医师签章</label>
        <div class="layui-input-block">
            <input name="chiefPhysician" placeholder="请输入医师" type="text" class="layui-input"
                   required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">检查日期</label>
        <div class="layui-input-block">
            <input id="inspectionDate" name="inspectionDate" placeholder="请输入检查日期" type="text" class="layui-input"
                   required/>
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="user-health-item-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>

    window.onload = function () {

    };

    layui.use(['layer', 'admin', 'form', 'formSelects', 'jquery','laydate'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var formSelects = layui.formSelects,
        $ = layui.jquery;
        var laydate = layui.laydate


         // 时间范围
        laydate.render({
            elem: '#inspectionDate',
            type: 'date',
            range: false,
/*            theme: 'molv'*/
        });

        form.render('radio');


        var id = JSON.parse(sessionStorage.getItem('id'));
        // 处理获取到的数据
        console.log('id:' + id);

        var url = 'system/user_health_item/add?userHealthId=' + id;
        // 回显user数据
        var user_health_item = admin.getTempData('t_user_health_item');
        if (user_health_item) {
            console.log("33");
            console.log(user_health_item);
            var form = layui.form;

            url = 'system/user_health_item/update';
            form.val('user-health-item-form', user_health_item);
            var rds = new Array();
            rds.push(user_health_item.diseaseName);
            formSelects.value('diseaseName', rds);
        }

        // 表单提交事件
        form.on('submit(user-health-item-form-submit)', function (data) {
            layer.load(2);
            postData = data.field;
            console.log(postData);
            $.post(url, postData, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });
    });
</script>